<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * appRain CMF
 *
 * LICENSE
 *
 * This source file is subject to the MIT license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.opensource.org/licenses/mit-license.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@apprain.com so we can send you a copy immediately.
 *
 * @copyright  Copyright (c) 2010 appRain, Inc. (http://www.apprain.com)
 * @license    http://www.opensource.org/licenses/mit-license.php MIT license
 *
 * HELP
 *
 * Official Website
 * http://www.apprain.com/
 *
 * Download Link
 * http://www.apprain.com/download
 *
 * Documents Link
 * http ://www.apprain.com/documents
 */
-->
<InterfaceBuilder>
    <navigation name="accounts">
        <parent>
            <title>Accounts</title>
            <action>/accounts</action>            
            <acl>
                <group>superadmin</group>
            </acl>
            <sort_order>4</sort_order>
        </parent>
        <child>
            <menu>
                <title>Setup Account</title>
                <items>
                    <item>
                        <title>Add Generator</title>
                        <link>/information/manage/accgenerator/add</link>
                    </item>
                    <item>
                        <title>Manage Generator</title>
                        <link>/information/manage/accgenerator</link>
                    </item>  
					<item>
                        <title>Add A/C Type</title>
                        <link>/information/manage/acctype/add</link>
                    </item>
                    <item>
                        <title>Manage A/C Type</title>
                        <link>/information/manage/acctype</link>
                    </item>
                </items>
                <adminicon>
                    <type>FilePath</type>
                    <location>/component/accounts/interface_builder/icon.jpg</location>
                </adminicon>
            </menu>	
            <menu>
                <title>Entry Code</title>
                <items>
					<item>
                        <title>Add Entry Code</title>
                        <link>/information/manage/entrycode/add</link>
                    </item>
                    <item>
                        <title>Manage Entry Codes</title>
                        <link>/information/manage/entrycode</link>
                    </item>                   
                </items>
                <adminicon>
                    <type>FilePath</type>
                    <location>/component/accounts/interface_builder/icon.jpg</location>
                </adminicon>
            </menu>	
            <menu>
                <title>Accounts</title>
                <items>
                    <item>
                        <title>Manage Account Chart</title>
                        <link>/accounts/accountchart</link>
                    </item>                    
                </items>
                <adminicon>
                    <type>FilePath</type>
                    <location>/component/accounts/interface_builder/icon.jpg</location>
                </adminicon>
            </menu>	
            <menu>
                <title>Operation</title>
                <items>
					<item>
                        <title>Create Group</title>
                        <link>/category/manage/accopttemplategrp/add</link>
                    </item> 
                    <item>
                        <title>Manage Groups</title>
                        <link>/category/manage/accopttemplategrp</link>
                    </item> 
                    <item>
                        <title>Create Template</title>
                        <link>/accounts/operationtemplate/create</link>
                    </item> 
                    <item>
                        <title>Manage Template</title>
                        <link>/accounts/operationtemplate</link>
                    </item> 					
                    <item>
                        <title>Transaction Action</title>
                        <link>/accounts/inout</link>
                    </item>                    
                </items>
                <adminicon>
                    <type>FilePath</type>
                    <location>/component/accounts/interface_builder/icon.jpg</location>
                </adminicon>
            </menu>
			<menu>
                <title>Monitoring</title>
                <items>
                    <item>
                        <title>Transaction Viewer</title>
                        <link>/accounts/transactionviewer</link>
                    </item>                   
                </items>
                <adminicon>
                    <type>FilePath</type>
                    <location>/component/accounts/interface_builder/icon.jpg</location>
                </adminicon>
            </menu>			
        </child>
    </navigation>
</InterfaceBuilder>